<%#= form_for(@pokemon) do |f| %>
  <%#= f.label :name %>
  <%#= f.text_field :name %>
  <%#= f.label :address %>
  <%#= f.text_field :address %>
  <%#= f.label :species %>
  <%#= f.text_field :species %>
  <%#= f.label :found_on %>
  <%#= f.date_field :found_on %>
  <%#= f.submit %>
<%# end %>
<div class="container">
<%= simple_form_for @pokemon do |f| %>
  <%= f.input :name %>
  <%= f.input :species %>
  <%= f.input :address %>
  <%= f.input :found_on %>
  <%= f.button :submit, class: 'btn btn-primary btn-block' %>
<% end %>
</div>
